<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.nuc.androidlab.map">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

      <!--  <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="11a9704f3ced0c9c6503d0a416a969f5"/>-->

        <activity android:name="cn.edu.nuc.androidlab.map.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--
        <service android:name="com.amap.api.location.APSService"/>-->
    </application>

</manifest>